In [1]:
import numpy as np
import pandas as pd
import pickle as pkl
import sklearn.metrics as metrics
from dm_test.dm_test import dm_test as dm

In [2]:
with open('results_pkl/oracle.pkl', 'rb') as handle:
    metric_res = pkl.load(handle)

In [3]:
columns_models = ["ORACLE_HET", "ORACLE_ENSEMBLE"]

metrics_df = pd.DataFrame(columns=['Time Series', 'Metrics', "ORACLE_HET"])

for f in metric_res:
    f_name = f[0]
    for me, value in f[1].items():
        new_row = {'Time Series': f_name, 'Metrics': me,  "ORACLE_HET": value}
        new_row = pd.Series(new_row)
        metrics_df = pd.concat([metrics_df, new_row.to_frame().T], ignore_index=True)
        
df_bagging = pd.read_csv('results/metrics_results_oracle_bagging.csv') 
metrics_df["ORACLE_ENSEMBLE"] = df_bagging["ORACLE"]

metrics_df[columns_models] = metrics_df[columns_models].apply(lambda x: pd.to_numeric(x, errors='coerce'))
pd.set_option('display.float_format', '{:.2E}'.format)
metrics_df['Best'] = metrics_df[columns_models].idxmin(axis=1)
print(metrics_df)

   Time Series Metrics  ORACLE_HET  ORACLE_ENSEMBLE             Best
0          amz     MSE    9.32E-05         2.81E-05  ORACLE_ENSEMBLE
1          amz    MAPE    1.22E+01         4.26E+00  ORACLE_ENSEMBLE
2          amz     ARV    2.64E-02         8.01E-03  ORACLE_ENSEMBLE
3          amz     MAE    6.98E-03         2.53E-03  ORACLE_ENSEMBLE
4          amz    RMSE    9.65E-03         5.30E-03  ORACLE_ENSEMBLE
..         ...     ...         ...              ...              ...
65        wine     ARV    7.97E-02         2.55E-03  ORACLE_ENSEMBLE
66        wine     MAE    1.14E-02         1.37E-03  ORACLE_ENSEMBLE
67        wine    RMSE    1.73E-02         3.24E-03  ORACLE_ENSEMBLE
68        wine   NRMSE    5.29E-02         9.93E-03  ORACLE_ENSEMBLE
69        wine   SMAPE    2.03E+01         5.63E+00  ORACLE_ENSEMBLE

[70 rows x 5 columns]

In [4]:
metrics_df.to_csv('results/metrics_results_oracle.csv', index=False, float_format="%.2E")

In [5]:
metrics_df['Best'].value_counts()

ORACLE_ENSEMBLE    70
Name: Best, dtype: int64